
body {
   background: url(../images/portfolio-pic-sound2.jpg) no-repeat center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
 }

h1, h2 {
   color: black;
   font-family: 'Ubuntu', sans-serif;
 }

h3 {
  color: #9D9E9E;
  font-family: 'Open sans', sans-serif;
  font-size: 12pt;
}

h4 {
  color: $highlight;
  font-family: 'Ubuntu', sans-serif;
  font-size: 20pt;
}

p {
   font-family: 'Open Sans', sans-serif;
 }

li {
  font-family: 'Open Sans', sans-serif;
}

#main-title {
  position: relative;
  top: 100px;
  margin: auto;
}
