body {
   background: url(../images/portfolio-pic-sound2.jpg) no-repeat center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
 }

 h1, h2 {
   color: $highlight;
   font-family: 'Ubuntu', sans-serif;
 }

 p {
   color: $highlight;
   font-family: 'Open Sans', sans-serif;
 }

#main-title {
   position: relative;
   top: 425px;
   float: right;
 }

 #statement {
   position: relative;
   width: 350px;
   height: auto;
   top: 200px;
   float: right;
   color: black;
 }

#skills {
  position: relative;
  top: 900px;
  height:auto;
  background-color: black;
}
