.navbar {
  background-color: black;
  border-color: black;
}

.navbar-default .navbar-brand {
  color: $highlight;
}

.navbar-default .navbar-nav > li > a {
  color: $highlight;
}

.navbar-default .navbar-nav > .active > a {
  color: gray;
  background-color: black;
}
